<div class="flex flex-row justify-center mt-10 mb-10">
  <div class="text-5xl text-center font-extrabold">
    <span class="text-zinc-200">
      Leaderboards
    </span>
  </div>
</div>
<div class="block lg:grid grid-cols-5 gap-4 mb-10">
  <div class="sidebar mb-5">
    <span class="text-lg text-zinc-200">
      Gamemode
    </span>
    <div class="stats-pages mt-2">
      <a [routerLink]="['surf']" (click)="dropdownMenuOpen = false" routerLinkActive="active-link"
        class="text-gray-200 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-0">Surf</a>
      <a [routerLink]="['kz']" (click)="dropdownMenuOpen = false" routerLinkActive="active-link"
        class="text-gray-200 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-1">KZ</a>
      <a [routerLink]="['retakes']" (click)="dropdownMenuOpen = false" routerLinkActive="active-link"
        class="text-gray-200 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-2">Retakes</a>
    </div>
  </div>

  <div class="content col-span-4">
    <router-outlet></router-outlet>
  </div>
</div>
