<table class="bg-zinc-900 shadow-lg text-gray-300 table-auto text-left">
    <thead>
        <tr class="bg-zinc-800">
            <th class="px-5 py-2">#</th>
            <th class="px-5 py-2">USER</th>
            <th class="px-5 py-2">MAP</th>
            <th class="px-5 py-2">TIME</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of [0,1,2,3,4]">
            <td class="px-5 py-3">{{ item }}</td>
            <td class="px-5 py-3">Mark</td>
            <td class="px-5 py-3">Otto</td>
            <td class="px-5 py-3">@mdo</td>
        </tr>
    </tbody>
</table>