<div class="flex flex-col space-y-5 mt-7">
    <div>
        <div class="text-4xl font-extrabold mb-2">
            <span class="gradient-text-1337ffm">
                Surf
            </span>
        </div>

        <div class="flex flex-col md:flex-row space-y-5 md:space-y-0 md:space-x-5">
            <div class="flex-1">
                <div class="text-lg font-extrabold mb-2">
                    <span class="gradient-text-1337ffm">
                        Most Points
                    </span>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>USER</th>
                            <th>POINTS</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="surfLeaderboard$ | async">
                        <tr *ngFor="let item of (surfLeaderboard$ | async)?.data?.playerLeaderboard?.points; index as i"
                            [style.color]="getPlaceColor(i+1)">
                            <td>
                                <fa-icon [icon]="getPlaceIcon(i+1)"></fa-icon> {{ i+1 }}
                            </td>
                            <td><img [src]="getCountryFlagByName(item.country)" class="float-left mr-2"
                                    [title]="item.country"> {{ item.name }}</td>
                            <td>{{ item.points }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="flex-1">
                <div class="text-lg font-extrabold mb-2">
                    <span class="gradient-text-1337ffm">
                        Most Finished Maps
                    </span>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>USER</th>
                            <th>FINISHED MAPS</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="surfLeaderboard$ | async">
                        <tr *ngFor="let item of (surfLeaderboard$ | async)?.data?.playerLeaderboard?.finishedMaps; index as i"
                            [style.color]="getPlaceColor(i+1)">
                            <td>
                                <fa-icon [icon]="getPlaceIcon(i+1)"></fa-icon> {{ i+1 }}
                            </td>
                            <td><img [src]="getCountryFlagByName(item.country)" class="float-left mr-2"
                                    [title]="item.country"> {{ item.name }}</td>
                            <td>{{ item.finishedMaps }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>