.page {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}
.content {
    flex-grow: 1;
    padding: 25px;
    width: 100%;
}
.error {
    @apply bg-red-600 p-3 rounded shadow text-white;
    margin-bottom: 25px;
}
.error li {
    @apply pl-4;
    list-style-type: circle;
    list-style-position: inside;
}
.loading {
  @apply bg-gray-900;

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  z-index: 1337;

  display: flex;
  justify-content: center;
  align-items: center;
}
