<div class="max-w-7xl mx-auto px-6 bg-zinc-900 text-white lg:mb-14">
    <div class="relative flex items-center justify-between h-16">
        <div class="flex-1 flex items-stretch justify-start">
            <ng-container *ngFor="let item of footerItems; index as i">
                <ng-container *ngIf="item.external; else externalLink">
                    <a [href]="item.url[0]" target="_blank">{{ item.name }}</a>
                </ng-container>
                <ng-template #externalLink>
                    <a [routerLink]="item.url">{{ item.name }}</a>
                </ng-template>
                <span *ngIf="showSeperator(i)">
                    &nbsp;&bullet;&nbsp;
                </span>
            </ng-container>
        </div>

        <div class="absolute inset-y-0 right-0 flex items-center space-x-3 pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
            <a href="https://twitter.com/1337frankfurt" class="action-icon" target="_blank">
                <fa-icon [icon]="faTwitter"></fa-icon>
            </a>
            <a href="https://www.facebook.com/1337Frankfurt/" class="action-icon" target="_blank">
                <fa-icon [icon]="faFacebook"></fa-icon>
            </a>
            <a href="https://www.instagram.com/1337frankfurt/" class="action-icon" target="_blank">
                <fa-icon [icon]="faInstagram"></fa-icon>
            </a>
        </div>
    </div>
</div>