<div class="w-full xl:max-w-screen-2xl mx-auto px-6 text-white">
    <div class="relative flex flex-col sm:flex-row items-center justify-center sm:justify-between h-16">
        <div class="flex items-stretch justify-start">
            <ng-container *ngFor="let item of footerItems; index as i">
                <ng-container *ngIf="item.external; else externalLink">
                    <a [href]="item.url[0]" target="_blank">{{ item.name }}</a>
                </ng-container>
                <ng-template #externalLink>
                    <a [routerLink]="item.url">{{ item.name }}</a>
                </ng-template>
                <span *ngIf="showSeperator(i)">
                    &nbsp;&bullet;&nbsp;
                </span>
            </ng-container>
        </div>

        <div class="flex items-center space-x-3">
            <a href="https://steamcommunity.com/groups/1337_Frankfurt" class="action-icon" target="_blank">
                <fa-icon [icon]="faSteam"></fa-icon>
            </a>
            <a href="https://twitter.com/1337frankfurt" class="action-icon" target="_blank">
                <fa-icon [icon]="faTwitter"></fa-icon>
            </a>
            <a href="https://www.facebook.com/1337Frankfurt/" class="action-icon" target="_blank">
                <fa-icon [icon]="faFacebook"></fa-icon>
            </a>
            <a href="https://www.instagram.com/1337frankfurt/" class="action-icon" target="_blank">
                <fa-icon [icon]="faInstagram"></fa-icon>
            </a>
        </div>
    </div>
</div>
