<div class="max-w-7xl mx-auto px-6 bg-zinc-900 text-white">
    <div class="relative flex items-center justify-between h-16">
        <div class="flex-1 flex items-stretch justify-start">
            <a href="https://1337Frankfurt.de" target="_blank">1337Frankfurt.de</a>
        </div>

        <div class="absolute inset-y-0 right-0 flex items-center space-x-3 pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
            <a href="https://twitter.com/1337frankfurt" target="_blank">
                <fa-icon [icon]="faTwitter"></fa-icon>
            </a>
            <a href="https://www.facebook.com/1337Frankfurt/" target="_blank">
                <fa-icon [icon]="faFacebook"></fa-icon>
            </a>
            <a href="https://www.instagram.com/1337frankfurt/" target="_blank">
                <fa-icon [icon]="faInstagram"></fa-icon>
            </a>
        </div>
    </div>
</div>