<div class="text-5xl text-center font-extrabold">
    <span class="gradient-text-1337ffm">
        Open Source Licenses
    </span>
</div>
<div class="mt-7">
    <div class="text-white">
        <div class="text-3xl font-extrabold">
            <span class="gradient-text-1337ffm">
                Third-Party-Libraries
            </span>
        </div>
        <ul>
            <li>
                Angular: 
                <a href="https://github.com/angular/angular" target="_blank">https://github.com/angular/angular</a>
                (<a href="https://github.com/angular/angular/blob/master/LICENSE" target="_blank">MIT License</a>)
            </li>
            <li>
                TailwindCSS: 
                <a href="https://github.com/tailwindlabs/tailwindcss" target="_blank">https://github.com/tailwindlabs/tailwindcss</a>
                (<a href="https://github.com/tailwindlabs/tailwindcss/blob/master/LICENSE" target="_blank">MIT License</a>)
            </li>
            <li>
                FontAwesome: 
                <a href="https://github.com/FortAwesome/Font-Awesome" target="_blank">https://github.com/FortAwesome/Font-Awesome</a>
                (<a href="https://github.com/FortAwesome/Font-Awesome/blob/master/LICENSE.txt">FontAwesome Free License</a>)
            </li>
        </ul>
    </div>
    <div class="text-white mt-7">
        <div class="text-3xl font-extrabold">
            <span class="gradient-text-1337ffm">
                Images
            </span>
        </div>
        <ul>
            <li>
                Country Flags: 
                <a href="https://github.com/lipis/flag-icons" target="_blank">https://github.com/lipis/flag-icons</a>
                (<a href="https://github.com/lipis/flag-icons/blob/main/LICENSE" target="_blank">MIT License</a>)
            </li>
            <li>
                Retakes Server Logo: 
                <a href="https://counter-strike.net/brokenfang" target="_blank">https://counter-strike.net/brokenfang</a>
            </li>
            <li>
                KZ Server Logo: 
                <a href="https://www.pcgamer.com/discover-counter-strike-global-offensives-climbing-scene/" target="_blank">https://www.pcgamer.com/discover-counter-strike-global-offensives-climbing-scene/</a>
            </li>
            <li>
                Surf Server Logo: 
                <a href="https://www.pcgamer.com/how-to-surf-csgo-maps-servers/" target="_blank">https://www.pcgamer.com/how-to-surf-csgo-maps-servers/</a>
            </li>
        </ul>
    </div>
</div>