<nav class="bg-gray-800 shadow-lg fixed w-full top-0 z-50">
    <div class="max-w-7xl mx-auto px-2 sm:px-6">
        <div class="relative flex items-center justify-between h-16">
            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                <!-- Mobile menu button-->
                <button type="button" (click)="open = !open"
                    class="inline-flex items-center justify-center p-2 rounded-md text-zinc-400 hover:text-white hover:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
                    aria-controls="mobile-menu" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                </button>
            </div>
            <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
                <div class="flex-shrink-0 flex items-center">
                    <img class="block lg:hidden h-8 w-auto" src="/assets/img/1337logo_small.png" alt="Workflow">
                    <img class="hidden lg:block h-8 w-auto" src="/assets/img/1337logo_small.png" alt="Workflow">
                </div>
                <div class="hidden sm:block sm:ml-6">
                    <div class="flex space-x-4">
                        <a *ngFor="let link of links" [routerLink]="link.url"
                            class="text-zinc-200 hover:bg-gray-900 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
                            routerLinkActive="bg-gray-900 text-white" href="#" aria-current="page">
                            <fa-icon [icon]="link.faIcon"></fa-icon> {{ link.name }}
                        </a>
                    </div>
                </div>
            </div>
            <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0 hidden">
                <button href="#" disabled class="default-btn cursor-pointer" aria-current="page">
                    <img src="/assets/img/steam_sign_in.png">
                </button>
            </div>
        </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="sm:hidden" id="mobile-menu" *ngIf="open">
        <div class="px-2 pt-2 pb-3 space-y-1">
            <a *ngFor="let link of links" [routerLink]="link.url"
                class="text-zinc-200 hover:bg-gray-900 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
                routerLinkActive="bg-gray-900 text-white" href="#" aria-current="page">
                {{ link.name }}
            </a>
        </div>
    </div>
</nav>
