button {
  @apply p-3 bg-gray-800 text-white shadow-lg border-none rounded-none;
}
button:first-of-type {
  @apply rounded-tl rounded-bl;
}
button:last-of-type {
  @apply rounded-tr rounded-br;
}
button.active {
  @apply bg-gray-700;
}
button:hover {
  @apply bg-gray-700;
}
