<div class="flex flex-row justify-center mt-5">
    <button (click)="setPage(page-1)">
        <fa-icon [icon]="faAngleDoubleLeft"></fa-icon>
    </button>
    <ng-container *ngFor="let p of pagination(page, pages)">
        <button *ngIf="isNumber(p); else dots" (click)="setPage(parseNumber(p))" [class.active]="isActive(parseNumber(p))">
            {{ p }}
        </button>
        <ng-template #dots>
            <button>
                ...
            </button>
        </ng-template>
    </ng-container>
    <button (click)="setPage(page+1)">
        <fa-icon [icon]="faAngleDoubleRight"></fa-icon>
    </button>
</div>